<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth, autofocus: true%>
  </div>

  <%= f.fields_for :address, Address.new do |attr| %>
    <div class="field">
      <%= attr.label :street_number%><br />
      <%= attr.text_field :street_number %>
    </div>
    <div class="field">
    <%= attr.label :street_name%><br />
    <%= attr.text_field :street_name %>
    </div>
    <div class="field">
    <%= attr.label :suburb%><br />
    <%= attr.text_field :suburb %>
    </div>
    <div class="field">
    <%= attr.label :postcode%><br />
    <%= attr.text_field :postcode %>
    </div>
   
    <%= attr.fields_for :state, State.new do |s| %>
      <div class="field">
        <%= s.label :name, "State" %><br />
        <%= s.text_field :name %>
      </div>
      <%= s.fields_for :country, Country.new do |c| %>
        <div class="field">
          <%= c.label :name, "Country" %><br />
          <%= c.select :name, CS.countries.values %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
