<% content_for(:html_title) { 'Account' } %>
<main class="container">
    <div class="row justify-content-center text-center">
        <h1>Account</h1>
    </div>
    <div class="row mt-5">
        <article class="col-4">
            <h3>Details:</h3>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item"><h6 class="d-inline">Name:</h6> <%= current_user&.full_name %></li>
                <li class="list-group-item"><h6 class="d-inline">Email:</h6> <address class="d-inline"><%= current_user&.email %></address></li>
                <li class="list-group-item"><h6 class="d-inline">Account Type:</h6> <%= current_user&.role %></li>
                <li class="list-group-item"><h6 class="d-inline">Location:</h6> <address class="d-inline"><%= current_user&.get_simple_location %></address></li>
            </ul>
            <%= link_to "Edit Account", edit_user_registration_path, class: "mr-3" %>
            <%= link_to "Delete Account", user_registration_path, method: :delete, data: {confirm: "Are you sure?"} %>
        </article>
        <article class="col-8 text-center">
            <h3 class="mb-3">Your <%= current_user&.sanctuary? ? "Sanctuaries" : "Sponsored" %> Animals:</h3>
            <section class="d-flex flex-wrap justify-content-end">
                <% @user_animals.each do |animal| %>
                    <div class="w-50 text-center" style="min-width: 150px;">
                        <%= link_to animal_path(animal), class: "text-primary" do %>
                            <%= render partial: "animals/card", locals: {animal: animal}%>
                        <% end %>
                    </div>
                <% end %>
            </section>
        </article>
    </div>
</main>
