<h1>Account</h1>
<p>Name: <%= current_user&.full_name %></p>
<p>Account Type: <%= current_user&.role %></p>
<p>Location: <%= current_user&.get_simple_location %></p>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= link_to "Delete Account", user_registration_path, method: :delete, data: {confirm: "Are you sure?"} %>

<h3>Your <%= current_user&.sanctuary? ? "Sanctuaries" : "Sponsored" %> Animals:</h3>
<% @user_animals.each do |animal| %>
    <%= link_to animal_path(animal), class: "text-body" do %>
        <%= render partial: "animals/card", locals: {animal: animal}%>
    <% end %>
<% end %>
