<h1>Admin view user</h1>
Name: <%= @user.full_name %>
DOB: <%= @user.date_of_birth %>
Role: <%= @user.role %>
Address: <%= @user.get_full_location %>
<%= link_to "Delete", admin_user_deny_path(@user.id), method: :post %>
