<% content_for(:html_title) { 'View User' } %>
<main class="container text-center w-50">
    <h1>View User</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><u><h6 class="d-inline">Name:</h6></u> <%= @user.full_name %></li>
        <li class="list-group-item"><u><h6 class="d-inline">E-mail:</h6></u> <address class="d-inline"><%= @user.email %></address></li>
        <li class="list-group-item"><u><h6 class="d-inline">DOB:</h6></u> <%= @user.date_of_birth %></li>
        <li class="list-group-item"><u><h6 class="d-inline">Role:</h6></u> <%= @user.role.capitalize %></li>
        <li class="list-group-item"><u><h6 class="d-inline">Address:</h6></u> <address class="d-inline"><%= @user.get_full_location %></address></li>
    </ul>
    <%= link_to "Back", admin_path, class: "btn btn-primary mb-5 mr-3"%>
    <%= link_to "Delete", admin_user_deny_path(@user.id), method: :post, class: "btn btn-primary mb-5" %>
</main>