<% content_for(:html_title) { 'Home' } %>
<main class="container rounded">
   <div class="row text-center justify-content-center mb-2 mb-md-5">
      <h1>Welcome, <%= current_user.first_name %>!</h1>
   </div>
   <div class="row justify-content-center order-1">
      <div class="col d-flex flex-column">
         <h3>News and Updates</h3>
         <ul class="list-group list-group-flush">
            <% @articles.each_with_index do |article, i| %>
               <li class="list-group-item bg-new-bg">
                  <%= link_to article.title, article_path(article), class: "mt-2 mb-2 text-body"%>
                  <% if i == 0 %>
                     <span class="badge badge-primary badge-pill ml-2">New!</span>
                  <% end %>
               </li>
            <% end %>
         </ul>
         <% if current_user&.admin? %>
            <%= link_to "Create Article", new_article_path %>
         <% end %>
      </div>
      <div class="col justify-content-center text-center order-3">
         <h3>Todays Featured Animal:</h3>
         <div style="max-height: 200px;">
         <%= link_to animal_path(@featured_animal), class: "text-primary" do %>
            <%= render partial: "animals/card", locals: {animal: @featured_animal}%>
         <% end %>
         </div>
      </div>
      <div class="col-6 text-center d-flex flex-column justify-content-around mt-2 mt-md-5 order-4 order-md-2">
         <%= link_to "Check in on your animals", user_account_path, class: "btn btn-primary btn-lg" %>
         <%= link_to "View all the animals", animals_path, class: "btn btn-primary btn-lg mt-1" %>
      </div>
   </div>
</main>

   