<% content_for(:html_title) { 'Home' } %>
<main class="container rounded">
   <div class="row text-center justify-content-center mb-2 mb-md-5">
      <h1>Welcome, <%= current_user.first_name %>!</h1>
   </div>
   <div class="row justify-content-center order-1">
      <div class="col d-flex flex-column">
         <h3>News and Updates</h3>
         <ul class="list-group list-group-flush">
            <li class="list-group-item bg-new-bg">
               <%= link_to "How Farm Sanctuaries Are Changing the Way People View Animals", "https://www.onegreenplanet.org/animalsandnature/farm-sanctuaries-are-changing-how-people-see-animals/", class: "mt-2 mb-2 text-body", target: "_blank"%>
               <span class="badge badge-primary badge-pill ml-2">New!</span>
            </li>
            <li class="list-group-item bg-new-bg"><%= link_to "Why Go Vegan?", "https://vegan.com/info/why/", class: "mb-2 text-body", target: "_blank" %></li>
            <li class="list-group-item bg-new-bg"><%= link_to "Website Updates!", "#", class: "mb-2 text-body" %></li>
         </ul>
      </div>
      <div class="col justify-content-center text-center order-3">
         <h3>Todays Featured Animal:</h3>
         <%= link_to animal_path(@featured_animal), class: "text-body" do %>
            <%= render partial: "animals/card", locals: {animal: @featured_animal}%>
         <% end %>
      </div>
      <div class="col-6 text-center d-flex flex-column justify-content-around mt-2 mt-md-5 order-4 order-md-2">
         <%= link_to "Check in on your animals", user_account_path, class: "btn btn-primary btn-lg" %>
         <%= link_to "View all the animals", animals_path, class: "btn btn-primary btn-lg mt-1" %>
      </div>
   </div>
</main>

   