<%= form_with(model: animal) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :year_born %>
    <%= form.number_field :year_born, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.number_field :weight, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :species %>
    <%= form.text_field :species, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sponsor_price %>
    <%= form.number_field :sponsor_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, "Category" %>
    <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :profile_picture, "Animal Profile Picture" %>
    <%= form.file_field :profile_picture, accept: "image/jpg,image/png", class: "form-control-file" %>
  </div>

  <% if current_user.admin? %>
    <div class="form-check">
      <%= form.check_box :sponsored, class: "form-check-input" %>
      <%= form.label :sponsored, class: "form-check-label" %>
    </div>

    <div class="form-group">
      <%= form.label :owner_id %>
      <%= form.number_field :owner_id, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>