<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Year born:</strong>
  <%= @animal.year_born %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @animal.weight %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @animal.bio %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Sponsored:</strong>
  <%= @animal.sponsored %>
</p>

<p>
  <strong>Sponsor price:</strong>
  <%= @animal.sponsor_price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @animal.category.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @animal.owner.full_name %>
</p>

<h3>PROFILE PIC</h3>
<%= image_tag image_select(@animal) %>

<h3>OTHER MEDIA</h3>
<% @animal.media.each do |media| %>
  <%= image_tag media%>
<% end %>

<%= link_to 'Edit', edit_animal_path(@animal) if (current_user.admin? || current_user.sanctuary?) && current_user.approved? %>
<%= link_to 'Back', animals_path %>
