<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Year born:</strong>
  <%= @animal.year_born %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @animal.weight %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @animal.bio %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Sponsored:</strong>
  <%= @animal.sponsored %>
  <% if @animal.sponsored? %>
      <% if user_is_animal_sponsor(@animal) || user_is_sanctuary_and_owner(@animal) || current_user&.admin? %>
        Sponsored At: <%= @animal.sponsorship.created_at %>
        Sponsorship Ends At: <%= @animal.sponsorship.created_at + 1.year %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Sponsor price:</strong>
  <%= @animal.sponsor_price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @animal.category.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @animal.owner.full_name %>
</p>

<h3>PROFILE PIC</h3>
<%= image_tag image_select(@animal) %>

<% if (current_user&.admin? || user_is_sanctuary_and_owner(@animal) || user_is_animal_sponsor(@animal))%>
  <h3>OTHER MEDIA</h3>
  <% @animal.media.each do |media| %>
    <%= image_tag media%>
    <% if (current_user&.admin? || user_is_sanctuary_and_owner(@animal)) %>
      <%= link_to "Delete Image", animals_media_path(:id => @animal, :media_id => media.id), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
  <% if (current_user&.admin? || user_is_sanctuary_and_owner(@animal)) %>
    <%= form_with url: animals_media_path(@animal), method: :post do |form| %>
      <div class="field">
        <%= form.label :media, "Add Photos" %>
        <%= form.file_field :media, multiple: true, accept: "image/jpg,image/png" %>
        <%= form.submit "Add Photos" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if (current_user&.admin? || user_is_sanctuary_and_owner(@animal)) %>
  <%= link_to 'Edit', edit_animal_path(@animal) %>
  <%= link_to "Delete", animal_path, method: :delete %>
<% end %>

<% if (@animal.sponsorship && (current_user&.admin? || user_is_sanctuary_and_owner(@animal) || user_is_animal_sponsor(@animal)))%>
  <div>
    <% @animal.sponsorship.chat.messages.each do |msg| %>
      <p><%=msg.sender.first_name %> - <%=msg.body%></p>
    <% end %>
    <%= form_with url: new_message_path(@animal), method: :post do |form|%>
      <%= form.label :message, "New Message:" %>
      <%= form.text_area :message %>
      <%= form.submit "Send Message" %>
    <% end %>
  </div>
<% end %>

<% if !current_user&.sanctuary? && !@animal.sponsored? %>
  <h5>Sponsor for 1 Year:</h5>
  <%=button_to "Sponsor: #{@animal.sponsor_price}", create_payment_path, method: :post, remote: true, params: {id: @animal.id} %>
<% end %>

<%= link_to 'Back', animals_path %>
