<!DOCTYPE html>
<html>
  <head>
    <title>SaveTheirBacon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <header>
    <%= render "shared/navbar" %>
    <% if !@landing %>
      <div class="head text-center d-flex justify-content-center align-items-center mb-5 flex-wrap mt-5">
        <%= image_tag "logo.png", class: "img-fluid border-sm-right border-md-secondary mr-3 pr-3", id: "head-pic" %>
        <h1 class="brand-col">Save Their Bacon</h1>
      </div>
      <hr class="bg-secondary mt-5 mb-5" />
    <% end %>
  </header>
  <body class="bg-new-bg <%= @landing ? "bg-img-landing" : "bg-img-other" %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

